@font-face {
    font-family: "neuropol";
    src: url("../jetfont/neuropol.ttf")
}

html {
    background: radial-gradient(50% 100%, rgba(255, 255, 255, .2), rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(50, 100, 170, .7) 1px, transparent 0),
    linear-gradient(180deg, rgba(50, 100, 170, .7) 1px, transparent 0),
    linear-gradient(90deg, rgba(50, 100, 170, .4) 1px, transparent 0),
    linear-gradient(180deg, rgba(50, 100, 170, .4) 1px, transparent 0),
    linear-gradient(90deg, rgba(50, 100, 170, 1) 2px, transparent 0),
    linear-gradient(180deg, rgba(50, 100, 170, 1) 2px, transparent 0);

    background-color: #074b97;

    background-size: 100% 100%,
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px,
    100px 100px,
    100px 100px;

    background-attachment: local;

    width: 100%;
    height: 100%;
}

body {
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

/*****  INFOS  *****/

#infos {
    border-top: 17px solid #ffffff;
    border-left: 17px solid #ffffff;
    border-bottom-style: groove;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 45vh;
    width: 33vw;
    font-family: 'neuropol';
    transition: all 0.3s ease-in-out;

}

#infos .header {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    border-bottom: 17px solid #ffffff;
}

@-webkit-keyframes typing {
    to {
        width: calc(29px * 6);
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#infos > .header > h1 {
    font: bold 2em neuropol;
    color: #ffffff;
    width: 0;
    letter-spacing: 3px;
    border-right: .1em solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    transform: scale(3) translateX(-8vw) translateY(-17vh);
}

#infos > .header > .animate-title {
    width: calc(29px * 6);
    transition: all 1s steps(6, end) 2s;
    animation: blink-caret .5s step-end infinite alternate;
}

#infos > .header > .animate2-title {
    width: calc(29px * 6);
    transition: all 1s ease-in-out;
    transform: scale(1) translateX(0) translateY(0);
    border: none;
}

#infos > .content {
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: justify;
    font-size: 1.4em;
}

svg {
    width: 100vw;
    height: 100vh;
}

/*****  RESPONSIVE  *****/

@media (min-width: 1250px) and (max-width: 1450px) {
    #infos {
        height: 40vh;
        width: 40vw;
    }

    #infos > .header > h1 {
        transform: scale(3) translateX(-5vw) translateY(-18vh);
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    #infos {
        height: 40vh;
        width: 40vw;
    }

    #infos > .header > h1 {
        transform: scale(3) translateX(-5vw) translateY(-18vh);
    }
}

@media (min-width: 720px) and (max-width: 1024px) {
    #infos {
        height: 30vh;
        width: 60vw;
    }

    #infos > .header > h1 {
        transform: scale(3) translateX(1vw) translateY(-21vh);
        font: bold 1.6em neuropol;
    }

    #infos > .header > .animate-title {
        width: calc(24px * 6);
        transition: all 1s steps(6, end) 2s;
        animation: blink-caret .5s step-end infinite alternate;
    }
}

@media (min-width: 420px) and (max-width: 720px) {
    #infos {
        height: 31vh;
        width: 95vw;
        border-right: 17px solid #FFFFFF;
    }

    #infos > .header > h1 {
        transform: scale(3) translateX(12vw) translateY(-21vh);
    }
}


@media (max-width: 420px) {
    #infos {
        height: 30vh;
        width: 92vw;
        border-right: 17px solid #FFFFFF;
    }

    #infos > .header > h1 {
        font: bold 1.4em neuropol;
        transform: scale(3) translateX(11vw) translateY(-21vh);
    }

    #infos .header {
        height: 7vh;
    }

    #infos > .content {
        font-size: 1em;
    }

    #infos > .header > .animate-title {
        width: calc(17px * 6);
    }

    #infos > .header > .animate2-title {
        width: calc(17px * 6);
    }

    #infos > .header > h1 {
        font: bold 1.1em neuropol;
    }
}


