/*****  JETDEV LOGO  *****/

#plane {
    fill: none;
}

#plane path {
    transform: scale(1.4) translateY(16vh) translateX(-6vw);
    stroke: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 0);
    stroke-width: 2px;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation-name: draw;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

/*****  ANIMATIONS  *****/

@keyframes draw {
    0% {
        fill: rgba(255, 255, 255, 0);
        stroke-dasharray: 100%;
        stroke: rgba(255, 255, 255, 1);
        stroke-dashoffset: 100%;
    }

    85% {
        fill: rgba(255, 255, 255, 0);
        stroke-dasharray: 0;
        stroke: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }

    100% {
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 0);
    }
}

/*****  RESPONSIVE  *****/

@media (min-width: 1250px) and (max-width: 1450px) {
    #plane path {
        transform: scale(1.4) translateY(16vh) translateX(-6vw);
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    #plane path {
        transform: scale(1.4) translateY(16vh) translateX(-4vw);
    }
}

@media (min-width: 720px) and (max-width: 1024px) {
    #plane path {
        transform: scale(1) translateY(18vh) translateX(22vw);
    }
}

@media (max-width: 720px) {
    #plane path {
        transform: scale(1.4) translateY(2vh) translateX(13vw);
    }
}

@media (max-width: 420px) {
    #plane path {
        transform: scale(1.5) translateY(-2vh) translateX(15vw);
    }
}


